{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{{path('country_new')}}">Create Country</a>
{% if countries is not empty %}

<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Drapeau</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for country in countries  %}
            <tr>
                <td>{{country.name}}</td>
                <td><img src="{{asset('/uploads/'~ country.flag)}}"
                        style="width: 100px;height:100px;" />
                </td>
                <td>
                    <a class="btn btn-primary" href="{{path('country_edit', {id:country.id})}}">Modifier</a>
                    <a class="btn btn-danger" href="{{path('country_delete',{id:country.id})}}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<p>Il n'y a pas de pays enregistré</p>

{% endif %}
{% endblock %}
