{% extends 'base.html.twig' %}

{% block title %}Athletes{% endblock %}

{% block body %}

<a class="btn btn-primary" href="{{path('athlete_new')}}">Create Athlete</a>
{% if athletes is not empty %}
    

<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Birth</td>
            <td>Photo</td>
            <td>Discipline</td>
            <td>Pays</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for athlete in athletes %}
            <tr>
                <td>{{athlete.lastName}}</td>
                <td>{{athlete.firstName}}</td>
                <td>{{athlete.birth |date("d/m/Y")}}</td>
                <td><img src="{{asset('/uploads/'~ athlete.photo)}}"
                    style="width: 200px;height:200px;" /></td>
                <td>{{athlete.discipline.name}}</td>
                <td><img src="{{asset('/uploads/'~ athlete.country.flag)}}"
                    style="width: 200px;height:200px;" /></td>
                <td>
                    <a class="btn btn-primary" href="{{path('athlete_edit', {id:athlete.id})}}">Modifier</a>
                    <a class="btn btn-danger" href="{{path('athlete_delete', {id:athlete.id})}}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<p>Il n'y a pas d'athletes</p>

{% endif %}

{% endblock %}
